# Backend
backend/target/
backend/.idea/
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/assets/videos/
frontend/assets/images/

# Root uploads
uploads/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
